.container{
  width: 100wh;
  text-align: center;
  margin-top: 20px;
}
.button{
  margin-top: 50px;
    padding: 15px 30px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    border-radius: 2rem;
    border: none;
    background-color: #ec892d;
    color: white;
}
.winner{
    margin-top: 10px;
    /* font-weight: 900; */
    /* font-size: larger; */

}